/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set the default font family */
:root {
    --primary-color: #000000; /* Primary color */
    --header-bg-color: #ffffff00; /* Transparent background for header */
    --text-color: #ffffff; /* White text color */
    --body-bg-color: #99f1fd; /* Body background color */
    --font-family: 'Roboto', sans-serif; /* Default font family */
    --container-max-width: 1200px; /* Maximum width for container */
    --menu-hover-color: #FF6565; /* Updated menu hover color */
    --button-bg-color: #FF6565; /* Updated button background color */
    --button-hover-color: #ffffff; /* Slightly lighter shade for button hover */
    --membership-bg-color: #0a1f44; /* Updated membership background color */
}

/* General body styling */
body {
    font-family: var(--font-family);
    line-height: 1.6;
    background-color: var(--text-color);
}

/* Header styling */
header {
    background-color: var(--header-bg-color); /* Transparent background */
    color: var(--text-color);
    padding: 10px 0;
    position: absolute; /* Position header at the top of the page */
    width: 100%; /* Full width */
    z-index: 1; /* Ensure header is on top of other elements */
    top: 0; /* Ensure header is at the top of the page */
}

header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 20px;
}

header .header-logo img {
    width: 167px;
    height: auto;
}

header .header-nav ul {
    display: flex;
    gap: 20px;
}

header .header-nav ul a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

header .header-nav a:hover {
    text-decoration: underline;
    color: var(--menu-hover-color);
}

/* hide checkbox */
.menu-btn {
    display: none;
}


/* fix for tablet screen */
@media only screen and (max-width: 768px) {

    header {
        padding: 10px 0;
    }

    header .header-container {
        flex-direction: column;
        align-items: center;
    }

    header .header-logo img {
        width: 200px; /* Further reduce the logo size for smaller screens */
        margin-bottom: 10px;
        /* move picture to the left of the page */
        margin-left: -350px;

    }

    

    header .header-nav ul {
        float: right;
        margin-left: 350px;
        margin-top: -45px;
        gap: 40px;
    }

    header .header-nav ul a {
        display: block;
        font-size: 12px; /* Reduce font size for smaller screens */
    }

    /* hide checkbox */
    .menu-btn {
        display: none;
    }
    
}

/* fix for mobile screen */
@media only screen and (max-width: 480px) {

    header .header-container {
        flex-direction: column;
        align-items: center;
    }

    header .header-logo img {
        width: 200px; /* Further reduce the logo size for smaller screens */
        margin-bottom: 10px;
        /* move picture to the left of the page */
        margin: 0 auto;
    }


    header .header-nav {
        display: none; /* Initially hide the nav menu */
    }

    /* Hamburger menu icon */
    .menu-icon {
        display: block;
        position: absolute;
        top: 50px;
        right: 330px;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .menu-icon .navicon {
        background-color: #ffffff;
        height: 3px;
        width: 100%;
        position: absolute;
        margin: 0  auto;
    }

    .menu-icon .navicon::before,
    .menu-icon .navicon::after {
        content: '';
        background-color: #ffffff;
        height: 3px;
        width: 100%;
        position: absolute;
        transition: transform 0.3s ease-in-out;
    }

    .menu-icon .navicon::before {
        top: -8px;
    }

    .menu-icon .navicon::after {
        top: 8px;
    }

    /* Display nav menu when checked */
    .menu-btn:checked ~ .header-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: 100vh;
        padding-top: 50px;
        
    }

    .menu-btn:checked ~ .header-nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .menu-btn:checked ~ .header-nav ul a {
        margin-top: 20px;
        font-size: 16px; /* Adjust font size for better readability on smaller screens */
        margin-left: -330px;
        
    }

    .menu-btn:checked ~ .menu-icon .navicon {
        background: transparent;
    }

    .menu-btn:checked ~ .menu-icon .navicon::before {
        transform: rotate(-45deg);
    }

    .menu-btn:checked ~ .menu-icon .navicon::after {
        transform: rotate(45deg);
    }

    .menu-btn:checked ~ .menu-icon .navicon::before,
    .menu-btn:checked ~ .menu-icon .navicon::after {
        top: 0;
    }
}




/* Hero section styling */
.hero {
    background: url('./images/headphones_hero_1.jpg') no-repeat center center/cover;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--text-color);
    position: relative;
}

.hero-content {
    max-width: 1000px;
    margin: 0 auto;
}

.hero-content .hero-text h1 {
    font-size: 32px;
    margin-bottom: 0.5rem;
    margin-top: 250px;
    text-align: center;
    font-weight: 500;
}

.hero-content .hero-text p {
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin-bottom: 2rem;
    margin-top: -35px;
    padding: 20px 0 0 0;
    font-weight: 500;
}

.hero-content a.btn {
    display: inline-block;
    background-color: var(--button-bg-color);
    padding: 12px 24px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-family: var(--font-family);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.hero-content a.btn:hover {
    background-color: var(--button-hover-color);
    color: var(--button-bg-color);
}

/* Hero-paragraph */
.hero-paragraph {
    margin-top: 50px;
    margin-bottom: 2rem;
}

.hero-paragraph p {
    font-size: 16px;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-width: 700px;
    padding: 10px;
    margin: 0 auto;
}

/* fix for tablet screen */

@media only screen and (max-width: 768px) {
    .hero {
        min-height: 100vh;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hero-content {
        max-width: 90%; /* Adjust the width to ensure it fits within the screen */
        padding: 0 20px;
    }

    .hero-text h1 {
        font-size: 24px; /* Adjust font size for better readability on smaller screens */
        margin-top: 50px;
    }

    .hero-text p {
        font-size: 16px;
        margin: 15px 0;
    }

    .hero-content a.btn {
        padding: 10px 20px; /* Adjust padding for the button */
        font-size: 16px;
        margin-top: 15px;
    }

    .hero-paragraph {
        margin-top: 20px;
        font-size: 14px; /* Adjust the paragraph font size */
    }

    .hero-paragraph p {
        max-width: 90%; /* Ensure the paragraph width fits within the screen */
        line-height: 1.5;
    }
}

/* fix for mobile screen */

@media only screen and (max-width: 480px) {
    .hero {
        min-height: 100vh;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hero-content {
        max-width: 100%; /* Adjust the width to ensure it fits within the screen */
        padding: 0 5px;
    }

    .hero-text h1 {
        font-size: 20px; /* Further reduce font size for better readability on smaller screens */
        margin-top: 50px;
        line-height: normal;
    }

    .hero-text p {
        font-size: 14px; /* Further reduce font size for better readability on smaller screens */
        margin: 15px 0;
    }

    .hero-content a.btn {
        padding: 10px 20px; /* Adjust padding for the button */
        font-size: 14px; /* Further reduce font size for better readability on smaller screens */
        margin-top: 15px;
    }

    .hero-paragraph {
        margin-top: 20px;
        font-size: 12px; /* Further reduce font size for better readability on smaller screens */
    }

    .hero-paragraph p {
        max-width: 90%; /* Ensure the paragraph width fits within the screen */
        line-height: 1.5;
    }
}

