/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set the default font family */
:root {
    --primary-color: #000000; /* Primary color */
    --header-bg-color: #ffffff00; /* Transparent background for header */
    --text-color: #ffffff; /* White text color */
    --body-bg-color: #99f1fd; /* Body background color */
    --font-family: 'Roboto', sans-serif; /* Default font family */
    --container-max-width: 1200px; /* Maximum width for container */
    --menu-hover-color: #FF6565; /* Updated menu hover color */
    --button-bg-color: #FF6565; /* Updated button background color */
    --button-hover-color: #ffffff; /* Slightly lighter shade for button hover */
    --membership-bg-color: #0a1f44; /* Updated membership background color */
}

/* General body styling */
body {
    font-family: var(--font-family);
    line-height: 1.6;
    background-color: var(--text-color);
}

/* Header styling */
header {
    background-color: var(--header-bg-color); /* Transparent background */
    color: var(--text-color);
    padding: 10px 0;
    position: absolute; /* Position header at the top of the page */
    width: 100%; /* Full width */
    z-index: 1; /* Ensure header is on top of other elements */
}

header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 20px;
}

header .header-logo img {
    width: 167px;
    height: auto;
}

header .header-nav ul {
    display: flex;
    gap: 20px;
}

header .header-nav ul a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
}

header .header-nav a:hover {
    text-decoration: underline;
    color: var(--menu-hover-color);
}

/* Hero section styling */
.hero {
    background: url('./images/headphones_hero_1.jpg') no-repeat center center/cover;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--text-color);
    position: relative;
}

.hero-content {
    max-width: 1000px;
    margin: 0 auto;
}

.hero-content .hero-text h1 {
    font-size: 32px;
    margin-bottom: 0.5rem;
    margin-top: 250px;
    text-align: center;
    font-weight: 500;
}

.hero-content .hero-text p {
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin-bottom: 2rem;
    margin-top: -35px;
    padding: 20px 0 0 0;
    font-weight: 500;
}

.hero-content a.btn {
    display: inline-block;
    background-color: var(--button-bg-color);
    padding: 12px 24px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-family: var(--font-family);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.hero-content a.btn:hover {
    background-color: var(--button-hover-color);
    color: var(--button-bg-color);
}

/* Hero-paragraph */
.hero-paragraph {
    margin-top: 50px;
    margin-bottom: 2rem;
}

.hero-paragraph p {
    font-size: 16px;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-width: 700px;
    padding: 10px;
    margin: 0 auto;
}

/* What we do section styling */
.what-we-do {
    font-family: var(--font-family);
    padding: 100px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--primary-color);
    position: relative;
}

.what-we-do .what-we-do-content {
    max-width: 1000px;
    margin: 0 auto;
}

.what-we-do-title h2 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 50px;
}

.what-we-do-title p {
    font-size: 16px;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-width: 700px;
    padding: 10px;
    margin: 0 auto 100px;
    margin-top: -20px;
}

.what-images-container {
    display: flex;
    justify-content: center;
    gap: 150px;
    padding: 0 20px;
}

.what-image {
    font-family: var(--font-family);
    text-align: center;
}

.what-image img {
    width: 200px;
    height: 120px;
    margin-bottom: 10px;
    display: block;
    margin: 0 auto 10px auto; /* Center the image horizontally */
}

.what-image h3 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-weight: 500;
}

.what-image p {
    font-size: 0.9rem;
    line-height: 2;
}
