/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set the default font family */
:root {
    --primary-color: #000000; /* Primary color */
    --header-bg-color: #ffffff00; /* Transparent background for header */
    --text-color: #ffffff; /* White text color */
    --body-bg-color: #99f1fd; /* Body background color */
    --font-family: 'Roboto', sans-serif; /* Default font family */
    --container-max-width: 1200px; /* Maximum width for container */
    --menu-hover-color: #FF6565; /* Updated menu hover color */
    --button-bg-color: #FF6565; /* Updated button background color */
    --button-hover-color: #ffffff; /* Slightly lighter shade for button hover */
    --membership-bg-color: #0a1f44; /* Updated membership background color */
}

/* General body styling */
body {
    font-family: var(--font-family);
    line-height: 1.6;
    background-color: var(--text-color);
}

/* Header styling */
header {
    background-color: var(--header-bg-color); /* Transparent background */
    color: var(--text-color);
    padding: 10px 0;
    position: absolute; /* Position header at the top of the page */
    width: 100%; /* Full width */
    z-index: 1; /* Ensure header is on top of other elements */
}

header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 20px;
}

header .header-logo img {
    width: 167px;
    height: auto;
}

header .header-nav ul {
    display: flex;
    gap: 20px;
}

header .header-nav ul a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
}

header .header-nav a:hover {
    text-decoration: underline;
    color: var(--menu-hover-color);
}

/* hide checkbox */
.menu-btn {
    display: none;
}

/* fix for tablet screen */
@media only screen and (max-width: 768px) {

    header {
        padding: 10px 0;
    }

    header .header-container {
        flex-direction: column;
        align-items: center;
    }

    header .header-logo img {
        width: 200px; /* Further reduce the logo size for smaller screens */
        margin-bottom: 10px;
        /* move picture to the left of the page */
        margin-left: -350px;

    }

    

    header .header-nav ul {
        float: right;
        margin-left: 350px;
        margin-top: -45px;
        gap: 40px;
    }

    header .header-nav ul a {
        display: block;
        font-size: 12px; /* Reduce font size for smaller screens */
    }

    /* hide checkbox */
    .menu-btn {
        display: none;
    }
    
}

/* fix for mobile screen */
@media only screen and (max-width: 480px) {

    header .header-container {
        flex-direction: column;
        align-items: center;
    }

    header .header-logo img {
        width: 200px; /* Further reduce the logo size for smaller screens */
        margin-bottom: 10px;
        /* move picture to the left of the page */
        margin: 0 auto;
    }


    header .header-nav {
        display: none; /* Initially hide the nav menu */
    }

    /* Hamburger menu icon */
    .menu-icon {
        display: block;
        position: absolute;
        top: 50px;
        right: 330px;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .menu-icon .navicon {
        background-color: #ffffff;
        height: 3px;
        width: 100%;
        position: absolute;
        margin: 0  auto;
    }

    .menu-icon .navicon::before,
    .menu-icon .navicon::after {
        content: '';
        background-color: #ffffff;
        height: 3px;
        width: 100%;
        position: absolute;
        transition: transform 0.3s ease-in-out;
    }

    .menu-icon .navicon::before {
        top: -8px;
    }

    .menu-icon .navicon::after {
        top: 8px;
    }

    /* Display nav menu when checked */
    .menu-btn:checked ~ .header-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: 100vh;
        padding-top: 50px;
        
    }

    .menu-btn:checked ~ .header-nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .menu-btn:checked ~ .header-nav ul a {
        margin-top: 20px;
        font-size: 16px; /* Adjust font size for better readability on smaller screens */
        margin-left: -330px;
        
    }

    .menu-btn:checked ~ .menu-icon .navicon {
        background: transparent;
    }

    .menu-btn:checked ~ .menu-icon .navicon::before {
        transform: rotate(-45deg);
    }

    .menu-btn:checked ~ .menu-icon .navicon::after {
        transform: rotate(45deg);
    }

    .menu-btn:checked ~ .menu-icon .navicon::before,
    .menu-btn:checked ~ .menu-icon .navicon::after {
        top: 0;
    }
}

/* Hero section styling */
.hero {
    background: url('./images/headphones_hero_1.jpg') no-repeat center center/cover;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--text-color);
    position: relative;
}

.hero-content {
    max-width: 1000px;
    margin: 0 auto;
}

.hero-content .hero-text h1 {
    font-size: 32px;
    margin-bottom: 0.5rem;
    margin-top: 250px;
    text-align: center;
    font-weight: 500;
}

.hero-content .hero-text p {
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin-bottom: 2rem;
    margin-top: -35px;
    padding: 20px 0 0 0;
    font-weight: 500;
}

.hero-content a.btn {
    display: inline-block;
    background-color: var(--button-bg-color);
    padding: 12px 24px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-family: var(--font-family);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.hero-content a.btn:hover {
    background-color: var(--button-hover-color);
    color: var(--button-bg-color);
}

/* Hero-paragraph */
.hero-paragraph {
    margin-top: 50px;
    margin-bottom: 2rem;
}

.hero-paragraph p {
    font-size: 16px;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-width: 700px;
    padding: 10px;
    margin: 0 auto;
}

/* fix for tablet screen */

@media only screen and (max-width: 768px) {
    .hero {
        min-height: 100vh;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hero-content {
        max-width: 90%; /* Adjust the width to ensure it fits within the screen */
        padding: 0 20px;
    }

    .hero-text h1 {
        font-size: 24px; /* Adjust font size for better readability on smaller screens */
        margin-top: 50px;
    }

    .hero-text p {
        font-size: 16px;
        margin: 15px 0;
    }

    .hero-content a.btn {
        padding: 10px 20px; /* Adjust padding for the button */
        font-size: 16px;
        margin-top: 15px;
    }

    .hero-paragraph {
        margin-top: 20px;
        font-size: 14px; /* Adjust the paragraph font size */
    }

    .hero-paragraph p {
        max-width: 90%; /* Ensure the paragraph width fits within the screen */
        line-height: 1.5;
    }
}

/* fix for mobile screen */

@media only screen and (max-width: 480px) {
    .hero {
        min-height: 100vh;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hero-content {
        max-width: 100%; /* Adjust the width to ensure it fits within the screen */
        padding: 0 5px;
    }

    .hero-text h1 {
        font-size: 20px; /* Further reduce font size for better readability on smaller screens */
        margin-top: 50px;
        line-height: normal;
    }

    .hero-text p {
        font-size: 14px; /* Further reduce font size for better readability on smaller screens */
        margin-top: -100px;
    }

    .hero-content a.btn {
        padding: 10px 20px; /* Adjust padding for the button */
        font-size: 14px; /* Further reduce font size for better readability on smaller screens */
        margin-top: 15px;
    }

    .hero-paragraph {
        margin-top: 20px;
        font-size: 12px; /* Further reduce font size for better readability on smaller screens */
    }

    .hero-paragraph p {
        max-width: 90%; /* Ensure the paragraph width fits within the screen */
        line-height: 1.5;
    }
}

/* What we do section styling ==============================*/
.what-we-do {
    font-family: var(--font-family);
    padding: 100px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--primary-color);
    position: relative;
}

.what-we-do .what-we-do-content {
    max-width: 1000px;
    margin: 0 auto;
}

.what-we-do-title h2 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 50px;
}

.what-we-do-title p {
    font-size: 16px;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-width: 700px;
    padding: 10px;
    margin: 0 auto 100px;
    margin-top: -20px;
}

.what-images-container {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.what-image_t, 
.what-image_b {
    font-family: var(--font-family);
    text-align: center;
}

.what-image_t img, 
.what-image_b img {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    display: block;
    margin: 0 auto 10px auto; /* Center the image horizontally */
}

.what-image_t h3, .what-image_b h3 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-weight: 500;
}

.what-image_t p, .what-image_b p {
    font-size: 0.9rem;
    line-height: 2;
}

/* fix for tablet screen */
@media only screen and (max-width: 768px) {
    .what-we-do {
        padding: 250px 0;
    }

    .what-we-do-title h2 {
        font-size: 32px; /* Adjust font size for better readability on smaller screens */
        margin-bottom: 40px;
        margin-top: -120px;
    }

    .what-we-do-title p {
        font-size: 16px;
        margin: 15px 0;
        margin-left: auto;
        margin-right: auto;
    }

    /* Grid layout for the images */
    .what-images-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        justify-items: center;
        padding: 0 20px;
        margin: 100px 0;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -100px;
    }

    /* Ensure the images and text scale well */
    .what-image_t img, 
    .what-image_b img {
        width: 80px;
        height: 80px;
    }

    .what-image_t h3, 
    .what-image_b h3 {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .what-image_t p, 
    .what-image_b p {
        font-size: 1rem; 
        line-height: 1.8; /* Reduce line height to wrap text more tightly */
        margin-top: 20px; /* Adjust top margin for spacing */
        margin-bottom: 0; /* Ensure there's no bottom margin */
        text-align: center; 
        max-width: 100%; /* Restrict the width to encourage wrapping */
        margin-left: auto;
        margin-right: auto;
    }

}

/* fix for mobile screen */

@media only screen and (max-width: 480px) {
    .what-we-do {
        padding: 200px 20px;
    }

    .what-we-do-title h2 {
        font-size: 32px; 
        margin-bottom: 20px;
        margin-top: -80px;
        text-align: center;
    }

    .what-we-do-title p {
        font-size: 16px; /* Smaller font size for the paragraph */
        line-height: 1.6;
        margin: 0 auto 30px auto;
        text-align: center; 
        max-width: 100%; /* Ensure it doesn't stretch too wide */
    }

    .what-images-container {
        display: flex;
        flex-direction: column;
        gap: 100px;
        padding: 0;
    }

    .what-image_t, 
    .what-image_b {
        text-align: center;
    }

}

/* Our results section styling ==============================*/

.our-results {
    background: url('./images/headphones_hero_2.jpg') no-repeat center center/cover;
    font-family: var(--font-family);
    padding: 100px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--text-color);
    position: relative;
}

.our-results .our-results-content {
    max-width: 1000px;
    margin: 0 auto;
}

.our-results-title h2 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 50px;
}

.our-results-title p {
    font-size: 16px;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-width: 700px;
    padding: 10px;
    margin: 0 auto 100px;
    margin-top: -20px;
}

.our-results-container {
    display: flex;
    justify-content: center;
    gap: 150px;
    padding: 0 20px;
}

.our-image_t, 
.our-image_b {
    position: relative;
    font-family: var(--font-family);
    text-align: center;
}

.our-image_t img, 
.our-image_b img {
    width: 190px;
    height: 190px;
    margin-bottom: 10px;
    display: block;
    margin: 0 auto 10px auto; /* Center the image horizontally */
}

.our-image_t h3, 
.our-image_b h3 {
    font-size: 32px;
    margin: 0; /* Remove bottom margin */
    font-weight: 700;
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for exact centering */
    color: #ffffff; /* Ensure text color contrasts with the background */
}

.our-image_t p, 
.our-image_b p {
    font-size: 14px;
    line-height: 1.4;
    margin-top: 5px;
    position: absolute;
    top: 60%; /* Adjust as needed to position below the h3 inside the pentagon */
    left: 50%;
    transform: translateX(-50%);
    max-width: 70%; /* Ensure the text fits well within the pentagon */
}

/* fix for tablet screen */
@media only screen and (max-width: 768px) {
    .our-results {
        padding: 250px 0;
    }

    .our-results-title h2 {
        font-size: 32px; /* Adjust font size for better readability on smaller screens */
        margin-bottom: 40px;
        margin-top: -120px;
    }

    .our-results-title p {
        font-size: 16px;
        margin: 15px 0;
        margin-left: auto;
        margin-right: auto;
    }

    /* Grid layout for the images */
    .our-results-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        justify-items: center;
        padding: 0 20px;
        margin: 100px 0;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -100px;
    }

    /* Ensure the images and text scale well */
    .our-image_t img, 
    .our-image_b img {
        width: 190px;
        height: 190px;
    }

    .our-image_t h3, 
    .our-image_b h3 {
        font-size: 32px;
        margin-bottom: 10px;
    }

    
}

/* fix for mobile screen */

@media only screen and (max-width: 480px) {
    
    .our-results {
        padding: 200px 20px;
    }

    .our-results-title h2 {
        font-size: 32px; 
        margin-bottom: 20px;
        margin-top: -80px;
        text-align: center;
    }

    .our-results-title p {
        font-size: 16px; /* Smaller font size for the paragraph */
        line-height: 1.6;
        margin: 0 auto 30px auto;
        text-align: center; 
        max-width: 100%; /* Ensure it doesn't stretch too wide */
    }

    .our-results-container {
        display: flex;
        flex-direction: column;
        gap: 100px;
        padding: 0;
    }

    .our-image_t, 
    .our-image_b {
        text-align: center;
    }

}